html {
    overflow-x: hidden;
}
/*CABECERA*/

.barraNavPrincipal,
.barraNavPrincipal .elementos {
    visibility: visible;
}
header .menu {
    display: none;
}
.barraNavPrincipal ul { /*Esta es la lista con los elementos que se ven en el menu, inicio, acerca de, compras etc, aqui se puede modificar el estilo de esos componentes*/
    --_gap: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    position: relative;
    right: calc(6% + 8px);
}
.barraNavPrincipal li a {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.barraNavPrincipal li { /*Este es el estilo de cada elemento dentro de la lista a diferencia de ul, li modifica cada elemento por separado; ul aplicaria un efecto global lo podria causar crasheos o bugs visuales*/
    position: relative;
    padding-inline: calc(var(--_gap) / 2);
}

.barraNavPrincipal li::after { /*Esta es la barra que aparece debajo de cada elemento, su forma, su color y sus propiedades*/
    content: "";
    position: absolute;
    left: 0;
    bottom: -1rem;
    height: 3px;
    width: 100%;
    background: plum;

    translate: var(--_translate, 0);
    scale: var(--_width, 0) 1;
    transition: 
        scale 300ms var(--_scale-delay, 0ms),
        translate 500ms var(--_translate-delay, 0ms);
}

.barraNavPrincipal li:hover,
.barraNavPrincipal li:focus-within{ /*Aqui especificamos que queremos hacer cuando un elemento de la lista es apuntado con el cursor, o con el tabulador (EoA)*/
    --_width: 1;
}

@supports selector(:has(h1)){ /*Comprobamos que el navegador tenga soporte con el metodo :has para ejecutar las animaciones, en caso de que no lo soporte, se vera un poco extraño las animaciones*/
    .barraNavPrincipal li:hover + li {
        --_translate: -100%;
        --_scale-delay: 300ms;
        --_translate-delay: 200ms;
    }
    .barraNavPrincipal li:has(+ :hover) {
        --_translate: 100%;
        --_scale-delay: 300ms;
        --_translate-delay: 200ms;
    }
}

a:hover, a:focus-visible { /*Definimos la opacidad a 1 del elemento que este siendo apuntado, dando un efecto de alumbrado*/
    opacity: 1;
}

/*Estilado del main*/


/*Estilado del footer*/
