/********************************************
 *    Property of Alberto Montiel Reyes     *
 *       All rights reserved © 2023         *
 *    Any modifications at this file and    * 
 *      others ones must be aproved and     *
 *    concend by the author, forks are not  *
 * allowed, contact me for more information *
 *                                          *
 ********************************************/

*{ /*En esta seccion van todas las variables de estilizado gobales, se aplicaran a cualquier elemento que se cree en el futuro*/
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
}

html { /*En esta seccion es el estilizado del documento html, todo lo que compone la pagina, a diferencia del componente * que es global, html tiene mayor prioridad*/
    color-scheme: dark;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a { /*Estilizado de todos los componentes tipo hipervinculos, al igual que html, reemplazara todo el estilizado del componente global*/
    position: relative;
    color: inherit;
    text-transform: uppercase;
    opacity: .7;
    font-weight: 500;
}

body { /*Estos son los estilos que se aplicaran unicamente a los elementos dentro del body, es decir, cualquier elemento fuera de body no se vera afectado por estos estilos*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    position: relative;
    left: -8px;
    height: 930px;
}

header {
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

header .logo {
    width: 50px;
    height: inherit;
    position: relative;
    left: calc(3% + 10px);
}

.barraNavPrincipal .elementos {
    visibility: hidden;
}

/*Edicion del main*/

main {
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.bienvenida {
    position: relative;
    top: -88px;
    height: 930px;
    z-index: 1;
    overflow: hidden;
}
.contenedor-fondo {
    position: absolute;
    height: inherit;
    width: inherit;
}

.bienvenida .fondo {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.bienvenida .bloqueTexto {
    position: relative;
    width: 300px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50vw - 150px);
    z-index: 2;
}

.bloqueTexto p {
    margin: 0;
}

.bloqueTexto .titulo{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

.bloqueTexto .texto {
    text-align: center;
    font-size: 2rem;
}

.botonBienvenida {
    position: relative;
    top: calc(50vh - 25px);
    left: calc(50vw - 75px);
    width: 150px;
    height: 50px;
    background-image: linear-gradient(53deg, rgb(109, 0, 103), rgb(226, 28, 193));
    border-radius: 20px;
    font-size: 2rem;
    z-index: 2;
    opacity: 1;
    padding: 10px 30px;
}
main .introduccion h1{
    font-size: 3rem;
}
main .introduccion h2{
    font-size: 2rem;
}
main .introduccion p {
    font-size: 1rem;
}
main .personasEnElProyecto span{
    font-size: 2rem;
}
main .personasEnElProyecto p {
    font-size: 1rem;
}

/*FOOTER*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}
footer p {
    margin: 0;
    font-size: 1rem;
    padding-left: 1rem;
}